# .NET build output
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
*.vssscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Rider files
.idea/

# Visual Studio Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NuGet packages
*.nupkg
*.snupkg
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Debug files
*.log
*.tlog
*.tmp
*.bak
*.swp

# Local files
person.json
